/**
 * Visibility Improvements
 */

body {
	--bold-modifier: 400;
}

/**
 * Spacing and Borders
 */

body {
	--border-width: 0.15em;
	--border-radius: 0.5em;

	--radius-s: calc(0.5 * var(--border-radius));
	--radius-m: var(--border-radius);
	--radius-l: calc(2 * var(--border-radius));

	--callout-border-width: var(--border-width);
	--callout-border-radius: var(--radius-s);
}

p:not(:has(img)) + ul {
	margin-top: calc(-1 * var(--p-spacing));
}

/**
 * Images
 */

img {
  display:block;
  margin-right: auto;
  margin-left: auto;
}

/**
 * Colors
 */

body {
	--divider-color: transparent;

	--accent-h: 210;
	--accent-s: 80%;
	--accent-l: 50%;

  --text-highlight-bg: color-mix(in srgb, var(--text-accent) 50%, transparent);
}

.theme-dark {
	--background-primary: #000000;
	--background-primary-alt: #000000;
	--background-secondary: #000000;
	--background-secondary-alt: #000000;
}

.theme-light {
	--background-primary: #FFFFFF;
	--background-secondary: #FFFFFF;
}

/**
 * PDF Viewer
 */

.theme-dark .pdf-viewer,
.theme-dark .pdfViewer {
  filter: invert(100%) hue-rotate(180deg);
}

.pdf-viewer .canvasWrapper,
.pdfViewer .canvasWrapper {
  box-shadow: none !important;
}

/**
 * Outline Callouts
 */

.callout {
	background-color: var(--background-primary);
	position: relative;
	border-radius: var(--callout-border-radius);
	overflow: visible;
	margin: 2em 0;
}

.callout-title {
	--scaleFactor: 0.85;

	position: absolute;
	text-wrap: balance;
	top: calc(-1 * var(--callout-border-width));
	transform: translateY(-50%) scale(var(--scaleFactor)) translateX(calc(-50% * (1 - var(--scaleFactor)) / var(--scaleFactor)));
	left: 0.5em;
	padding: 0 0.5em 0 1.4em;
	width: calc(100% / var(--scaleFactor) - 1em);
	display: inline;
}

.callout-title-inner {
	margin-top: -0.05em;
	background-color: var(--background-primary);
	display: inline;
	padding: .2em .3em .2em 0;
}

.callout-icon {
	position: absolute;
	display: flex;
	height: 100%;
	align-items: center;
	left: 0;
}

.callout-icon > * {
	z-index: 1;
}

.callout-icon::before {
	position: absolute;
	background-color: var(--background-primary);
	width: calc(100% + .5em);
	height: 2.5em;
	content: "";
	left: -.2em;
}

.callout-fold {
	padding: 0;
}

/**
 * Faded Comments
 */

blockquote {
	border-inline-start: var(--border-width) solid var(--text-faint) !important;
}

blockquote * {
	color: var(--text-muted);
}

/**
 * Header Dividers
 */

h1 {
	padding-top: 0.5em;
	border-top: double 4px var(--hr-color);
}
h2 {
	padding-top: 0.5em;
	border-top: solid 2px var(--hr-color);
}

/* Prevent the line from appearing when h2 directly follows h1 */
div:has(h1) + div > h2 {
	padding-top: 0;
	border-top: none !important;
}

/* Prevent the line from appearing in ![[]] blocks */
div.mod-header + div > h1 {
	padding-top: 0;
	border-top: none !important;
}
div.mod-header + div > h2 {
	padding-top: 0;
	border-top: none !important;
}

/* Prevent the line at the beginning */
div:first-child > h1 {
	padding: top 0;
	border-top: none !important;
}
div:first-child > h2 {
	padding: top 0;
	border-top: none !important;
}
div.markdown-rendered > h1:first-child {
	padding: top 0;
	border-top: none !important;
}
div.markdown-rendered > h2:first-child {
	padding: top 0;
	border-top: none !important;
}

/**
 * TeX
 */
.MathJax {
  color: var(--text-accent);
}
